@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Sachin's OpenShift Demo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a> and <a href="https://docs.openshift.com/container-platform/3.11/getting_started/index.html">Deploying on OpenShift</a>.</p>
</div>
